<a href="https://colab.research.google.com/github/heyrimz/2023_bigdata-AI/blob/main/230320_3%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 230320

In [4]:
import pandas as pd

# 외부 데이터
df = pd.read_csv("/content/drive/MyDrive/빅데이터와 인공지능/경기도 가평군_민박펜션업소현황_20230214.csv",sep=",",encoding = "cp949")
print(df.size)               # 총 요소수를 반환 m행 n열
print(df.shape)              # 데이터의 모양(행,열)의 튜플을 반환
print(df.ndim)               # 데이터의 차원수를 반환

11000
(1100, 10)
2

In [5]:
print(df.head())

          업소명 업종명  서비스대상구분 외국어안내서비스                 소재지도로명주소  \
0       하늘목민박  민박  내국인+외국인       없음      경기도 가평군 상면 수목원로 201
1   가평유명산오즈펜션  민박  내국인+외국인       없음  경기도 가평군 설악면 유명산길 61-100
2    청평하늘정원펜션  민박  내국인+외국인       없음  경기도 가평군 청평면 수리재길 343-43
3      산새소리민박  민박  내국인+외국인       없음      경기도 가평군 청평면 오댓골길 25
4  가평비타민팜체험농장  민박  내국인+외국인       없음     경기도 가평군 북면 제령아랫말길 64

                   소재지지번주소  객실수         위도          경도     데이터기준일자
0   경기도 가평군 상면 행현리 456-3번지    7  37.760658  127.362560  2023-02-14
1  경기도 가평군 설악면 가일리 215-2번지    5  37.597082  127.494245  2023-02-14
2  경기도 가평군 청평면 상천리 964-1번지    3  37.792472  127.431444  2023-02-14
3     경기도 가평군 청평면 청평리 42번지    6  37.728395  127.427576  2023-02-14
4   경기도 가평군 북면 제령리 216-1번지    2  37.888737  127.538792  2023-02-14

In [10]:
df["객실수"]

0       7
1       5
2       3
3       6
4       2
       ..
1095    3
1096    1
1097    1
1098    1
1099    6
Name: 객실수, Length: 1100, dtype: int64

In [8]:
df["객실수"].sum()

3607

In [9]:
df["객실수"].mean()

3.2790909090909093

In [11]:
df["객실수"].max()

11

In [12]:
import pandas as pd

# 내장 데이터
from sklearn.datasets import load_iris
iris = load_iris()
print(iris.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [13]:
df = pd.DataFrame(data = iris.data, columns = iris.feature_names)
df["target"] = iris.target # 꽃 이름, 속성 추가

print(df.size)
print(df.shape)
print(df.ndim)

750
(150, 5)
2

In [14]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0