In [ ]:
key1 = ["엄마","아빠","나","동생"]
val1 = [5,3,1,2]
key2 = ["삼촌","나","동생","이모"]
val2 = [3,4,6,3]

import pandas as pd
df1 = pd.DataFrame([key1,val1]).T
df1.columns = ["key","사과"]
df1 = df1.set_index('key')
print(df1)

df2 = pd.DataFrame([key2,val2]).T
df2.columns = ["key","바나나"]
df2 = df2.set_index('key')
print(df2)

    사과
key
엄마   5
아빠   3
나    1
동생   2
    바나나
key
삼촌    3
나     4
동생    6
이모    3

In [ ]:
df_ = pd.concat([df1,df2],axis = 1) # axis : 축 / 0 : 행 / 1: 열
print(df_)

      사과  바나나
key
엄마     5  NaN
아빠     3  NaN
나      1    4
동생     2    6
삼촌   NaN    3
이모   NaN    3

In [ ]:
df_0 = pd.concat([df1,df2],axis = 0)
print(df_0)

      사과  바나나
key
엄마     5  NaN
아빠     3  NaN
나      1  NaN
동생     2  NaN
삼촌   NaN    3
나    NaN    4
동생   NaN    6
이모   NaN    3

In [ ]:
df_ = pd.concat([df1,df2],axis = 0)
print(df_.groupby(df_.index).sum()) # groupby는 연산 가능

     사과  바나나
key
나     1    4
동생    2    6
삼촌    0    3
아빠    3    0
엄마    5    0
이모    0    3

In [ ]:
print(df_.groupby(df_.index).mean()) # 평균
print(df_.groupby(df_.index).max())  # 최대
print(df_.groupby(df_.index).min())  # 최소

      사과  바나나
key
나    1.0  4.0
동생   2.0  6.0
삼촌   NaN  3.0
아빠   3.0  NaN
엄마   5.0  NaN
이모   NaN  3.0
      사과  바나나
key
나    1.0  4.0
동생   2.0  6.0
삼촌   NaN  3.0
아빠   3.0  NaN
엄마   5.0  NaN
이모   NaN  3.0
      사과  바나나
key
나    1.0  4.0
동생   2.0  6.0
삼촌   NaN  3.0
아빠   3.0  NaN
엄마   5.0  NaN
이모   NaN  3.0

In [ ]:
df3 = pd.DataFrame([key2,val2]).T
df3.columns = ["key","사과"]
df3 = df3.set_index('key')
print(df3)

    사과
key
삼촌   3
나    4
동생   6
이모   3

In [ ]:
df = pd.concat([df1,df3],axis = 0)
print(df)

    사과
key
엄마   5
아빠   3
나    1
동생   2
삼촌   3
나    4
동생   6
이모   3

In [ ]:
print(df.groupby(df.index).sum())

     사과
key
나     5
동생    8
삼촌    3
아빠    3
엄마    5
이모    3

### NASA TEMP DATA & GDP DATA

In [ ]:
df_temp = pd.read_csv("/content/drive/MyDrive/빅데이터와 인공지능/graph.csv",header=None)
df_temp.head()

                          0
0  1880     -0.17     -0.09
1  1881     -0.08     -0.13
2  1882     -0.11     -0.17
3  1883     -0.17     -0.20
4  1884     -0.28     -0.24

In [ ]:
df_gdp = pd.read_csv("/content/drive/MyDrive/빅데이터와 인공지능/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_5358352.csv")
df_gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.368970e+09,2.610039e+09,3.126019e+09
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129150e+10,2.180940e+10,2.370810e+10,2.821130e+10,2.611990e+10,2.968350e+10,...,9.720020e+11,9.826770e+11,1.003400e+12,9.231440e+11,8.898590e+11,1.030480e+12,1.016700e+12,1.009050e+12,9.341790e+11,1.089450e+12
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.020360e+10,2.056450e+10,2.055060e+10,1.999820e+10,1.801960e+10,1.889640e+10,1.841880e+10,1.890450e+10,2.014340e+10,1.478690e+10
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040410e+10,1.112790e+10,1.194320e+10,1.267630e+10,1.383840e+10,1.486220e+10,...,7.360400e+11,8.322170e+11,8.924980e+11,7.669580e+11,6.905450e+11,6.837480e+11,7.663600e+11,7.947190e+11,7.848000e+11,8.401870e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.249980e+11,1.334020e+11,1.372440e+11,8.721930e+10,4.984050e+10,6.897280e+10,7.779290e+10,6.930910e+10,5.361910e+10,6.740430e+10